.mainRelated {
  height: 1300px;
  width: 100%;
  background-color: mintcream;
  z-index: 1;
  /* background-color: red; */
}

.relatedTitle {
  padding: 0 0.35em;
  font-weight: bold;
  line-height: 1.4;
  height: 20%;
  text-transform: uppercase;
  word-spacing: 10px;
  font-size: 35px;
  color: #3f0d40;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Acme;
  text-shadow: 1px 2px 3px #999;
  transform: scaleY(1.3);
}
.relatedTitle::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 40%;
  height: 15%;
  bottom: 90px;
  opacity: 0.3;
  border-radius: 0px 20px 0px 20px;
  background: #6265fe;
}

.lineTitle {
  width: 300px;
  height: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #abc0fd;
  box-shadow: 1px 2px 4px #cad5f5;
}

.relatedBody {
  height: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.relatedTop {
  height: 32%;
  width: 100%;
  /* background-color: #3f0d40; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.relTop-body {
  height: 95%;
  width: 1100px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 10px 6px #999;
  border-radius: 10px;
}

.cardCourse {
  width: 31%;
  height: 95%;
  position: relative;
  /* background-color: #f1f1f1; */
  /* box-shadow: 1px 4px 5px #999; */
}

.cardCourse-img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(2px 2px 4px #ab41c5);
}

.cardCourse:hover .imgOverlay {
  bottom: 0;
  height: 100%;
}

.imgOverlay {
  position: absolute;
  height: 0;
  width: 100%;
  bottom: 100%;
  left: 0;
  right: 0;
  opacity: 0.93;
  overflow: hidden;
  transition: 0.5s ease;
  background-color: #c8c4f4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.overlayBtn {
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 2px #6b186d;
  background-color: #3f0d40;
  padding: 10px 35px;
  color: #fff;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  text-shadow: 1px 1px 2px #999;
}

.overlayBtn:hover {
  background-color: #831d85;
  box-shadow: 1px 1px 2px #741a75;
  color: #f1f1f1;
}

.overlayTxt {
  font-size: 30px;
  font-family: Acme;
  font-weight: bold;
  letter-spacing: 1.5px;
  word-spacing: 5px;
  text-shadow: 1px 1px 2px #999;
}

.relatedBottom {
  height: 63%;
  width: 100%;
  /* background-color: red; */
  background-color: mintcream;
  padding: 10px 0;
  display: flex;
}

/* Related component css bottom */
.lineDivider {
  height: 1px;
  width: 30%;
  border-radius: 10px;
  background-color: #444;
}

.relBottom-left {
  width: 35%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #888; */
}

.relBottom-img {
  width: 100%;
  height: 100%;
  /* background-size: 100% 100%; */
  filter: blur(5px);
  opacity: 0.3;
  background-image: url(https://cdn2.iconfinder.com/data/icons/web-design-and-development-47/258/1-512.png);
  background-position: center;
  background-repeat: no-repeat;
}

.relBottom-right {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  /* background-color: #ccc; */
}

.relBottom-desc {
  height: 80%;
  width: 80%;
  position: absolute;
}

.descTop {
  width: 0;
  height: 20%;
  overflow: hidden;
  border-left: 10px solid #c8c4f4;
  display: flex;
  align-items: center;
  transition: 1s ease;
  font-size: 30px;
  color: #333;
  text-shadow: 1px 2px 3px #666;
  font-weight: bold;
}

.activeTop {
  width: 100%;
  padding: 0 20px;
}

.descTop span {
  transform: scaleY(1.4);
  letter-spacing: 1.5x;
  height: 50%;
}

.descBottom {
  width: 100%;
  overflow: hidden;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: right;
  border-right: 10px solid #c8c4f4;
  position: relative;
}

.descBottom-span {
  width: 0;
  overflow: auto;
  left: 100%;
  right: 0;
  height: 350px;
  /* background-color: red; */
  transition: 0.8s ease;
  position: absolute;
  padding: 0 15px;
}

.descBottom-span::-webkit-scrollbar {
  display: none;
}

.activeBottom {
  width: 100%;
  left: 0;
}

.mainCarousel {
  height: 100%;
  /* padding: 10px 0; */
  width: 100%;
  /* background-color: red; */
}

.galleryDiv {
  width: 65vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* z-index: -2; */
  /* background-color: yellow; */
}

.galleryItem {
  width: 60%;
  height: 460px;
  border-radius: 5px;
  box-shadow: 2px 4px 6px #888;
  /* z-index: 20; */
  /* background-color: red; */
}

.galleryTxt {
  position: absolute;
  bottom: 17px;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 1.2px;
  word-spacing: 2px;
  color: #eae9f8;
  text-shadow: 2px 2px 4px #111;
}

.thumb {
  width: 120px;
  height: 100px;
  border-radius: 5px;
}

.carouselNav {
  height: 20%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carouselBtns {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselBtn {
  border: none;
  cursor: pointer;
  margin: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  background-color: #ccc7f4;
  box-shadow: 1px 1px 2px #777;
}

.carouselBtn:hover,
.carouselBtn:focus {
  border: none;
  outline: none;
  background-color: #9187e0;
  color: #fff;
  transition: 0.5s ease;
}

/* Media query (Responsiveness) --------------------------------------------------*/

@media (max-width: 1440px) {
  .thumb {
    width: 100px;
    height: 90px;
  }

  .galleryTxt {
    font-size: 15px;
  }
  .relBottom-right {
    height: 90%;
  }
  .galleryItem {
    height: 95%;
  }
}

@media (max-width: 1280px) {
  .descBottom {
    font-size: 14px;
  }

  .galleryItem {
    height: 90%;
  }

  .mainCarousel {
    height: 80%;
  }
}

@media (max-width: 1180px) {
  .thumb {
    width: 80px;
    height: 70px;
  }

  .descTop {
    font-size: 22px;
  }
}

@media (max-width: 1130px) {
  .relTop-body {
    width: 90%;
    /* background-color: red; */
  }
  .mainCarousel {
    height: 80%;
    /* background-color: red; */
  }
}

@media (max-width: 1000px) {
  .cardCourse {
    height: 80%;
  }
}

@media (max-width: 950px) {
  .mainRelated {
    /* background-color: orange; */
    height: 2000px;
  }
  .relatedTitle {
    height: 5%;
    /* background-color: orange; */
  }

  .relatedTitle::before {
    bottom: 30px;
    height: 20%;
    width: 80%;
  }

  .relatedBody {
    height: 90%;
    /* background-color: blue; */
  }
  .relatedBottom {
    height: 72%;
    flex-direction: column;
  }

  .relatedTop {
    height: 25%;
    /* background-color: red; */
  }

  .relTop-body {
    height: 300px;
  }

  .relBottom-left {
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
  }

  .relBottom-desc {
    width: 60%;
  }

  .descBottom {
    height: 80%;
  }

  .descBottom-span {
    /* background-color: #fff; */
    padding: 20px 10px;
  }

  .relBottom-right {
    width: 100%;
    height: 50%;
    /* height:  */
    /* background-color: red; */
  }

  .mainCarousel {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
  }

  .galleryDiv {
    /* background-color: red; */
    width: 100%;
    height: 340px;
  }

  .thumb {
    width: 110px;
    height: 90px;
  }

  .carouselNav {
    width: 97%;
  }
}

@media (max-width: 850px) {
  .overlayTxt {
    font-size: 3vw;
  }
}

@media (max-width: 750px) {
  .relTop-body {
    height: 250px;
  }

  .thumb {
    width: 100px;
    height: 80px;
  }
}

@media (max-width: 660px) {
  .overlayBtn {
    padding: 10px 15px;
    font-size: 15px;
  }
  .thumb {
    width: 80px;
    height: 60px;
  }

  .relatedTop {
    height: 20%;
    /* background-color: orange; */
  }

  .relatedBottom {
    height: 80%;
  }
  .galleryTxt {
    font-size: 2vw;
  }
}

@media (max-width: 550px) {
  .mainRelated {
    height: 1800px;
    /* background-color: red; */
  }

  .relatedTitle {
    height: 9%;
    /* background-color: blue; */
  }

  .relatedBody {
    height: 90%;
    /* background-color: brown; */
  }

  .relatedTop {
    height: 40%;
    /* background-color: greenyellow; */
  }

  .relatedBottom {
    height: 60%;
  }

  .relBottom-left {
    height: 55%;
    /* background-color: blue; */
  }

  .relBottom-right {
    height: 45%;
    /* background-color: mintcream; */
  }

  .relTop-body {
    flex-direction: column;
    /* height: 200px; */
    height: 90%;
    width: 300px;
  }

  .cardCourse {
    width: 85%;
    height: 30%;
  }

  .carouselNav {
    display: none;
  }

  .galleryItem {
    width: 85%;
    height: 320px;
  }

  .relatedTitle {
    font-size: 25px;
  }

  .relatedTitle::before {
    bottom: 50px;
  }
  .descTop {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .relatedTitle {
    font-size: 6vw;
  }

  .galleryTxt {
    font-size: 10px;
  }

  .descTop {
    font-size: 17px;
  }
}
