.mainAbout {
  height: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;
  z-index: 1;
  background-color: #fff;
}
.mainAbout:after {
  display: block;
  z-index: -11;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 490px;
  background-color: #c6eaff;
  transform: skew(-50deg);
  transform-origin: top;
}
.mainAbout:before {
  display: block;
  content: "";
  position: absolute;
  z-index: -11;
  top: 0%;
  bottom: 0%;
  left: 145%;
  right: 0%;
  width: 700px;
  background-color: #c6eaff;
  transform: skew(-50deg);
  transform-origin: top;
}

@media screen and (max-width: 1400px) {
  .mainAbout:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -11;
    top: 0%;
    left: 170%;
    bottom: 0%;
    width: 500px;
    background-color: #c6eaff;
    transform: skew(-50deg);
    transform-origin: top;
  }
}
@media screen and (max-width: 1024px) {
  .mainAbout:before {
    display: none;
  }
}

.header {
  padding: 83px 80px 5px 80px;
}
.title {
  text-align: center;
  font-size: 30px;
  font-family: Acme;
  color: #3f0d40;
  text-shadow: 1px 2px 3px #999;
}
.title-text {
  text-align: center;
  padding: 20px;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 1.9;
}

.one {
  margin: 0 auto;
  width: 90%;
}
.two {
  margin: 0 auto;
  width: 70%;
}
.body {
  margin-top: 20px;
}

.body-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .title-text {
    font-size: 12px;
    line-height: 1.1;
  }
  .header {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .body-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .title-text {
    font-size: 12px;
  }
}

.wrapper {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goals-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  letter-spacing: 1.5px;
  font-size: 12px;
}
.body-img img {
  height: 300px;
  width: 500px;
}
.goal {
  margin: 9px;
  font-size: 13px;
}
.goal span {
  font-size: 17px;
  line-height: 2;
  font-style: italic;
}
.goal b {
  font-size: 20px;
  color: green;
}

@media screen and (max-width: 600px) {
  .goal {
    font-size: 12px;
    text-align: center;
    padding: 0;
  }
}
@media screen and (max-width: 444px) {
  .goal {
    width: 300px;
  }
  .body-img img {
    width: 300px;
  }
}
