@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

.mainDiv {
  padding-top: 80px;
  height: 1000px;
  width: 100%;
  /* background-color: #f1f1f1; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: 100%;
  height: 100%;
  background-image: url("./images/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -3;
  filter: blur(2px);
}

.mainInner {
  width: 80%;
  height: 600px;
  z-index: 1;
  position: absolute;
  border-radius: 10px;
  /* background-color: red; */
  background-color: rgba(0, 165, 255, 0.2);
}

.innerTop {
  height: 50%;
  /* background-color: #ccc; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.innerTitle {
  font-size: 7vw;
  font-family: Acme;
  letter-spacing: 5px;
  color: #3f0d40;
  font-weight: bold;
  text-shadow: 1px 3px 4px #999;
}

.innerGif {
  width: 250px;
}

.innerBorder {
  width: 80%;
  height: 3%;
  border-radius: 10px;
  margin: auto;
  background-color: #a13aa3;
}

.innerBottom {
  /* background-color: red; */
  height: 47%;
}

.innerSign {
  height: 50%;
  /* background-color: orange; */
  display: flex;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-shadow: 1px 2px 3px #666;
  justify-content: center;
  align-items: center;
  word-spacing: 1px;
  text-align: center;
}

.innerBtnDiv {
  height: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBtn {
  width: 320px;
  height: 60px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #a744a8;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: 1px 2px 3px #999;
  box-shadow: 1px 2px 3px #a838aa;
  border: 1px solid #ca48cc;
}

.innerBtn:hover {
  transition: 0.7s;
  background-color: #d459d6;
}

/* Responsiveness -------------------------- */

@media (max-width: 1150px) {
  .innerSign {
    font-size: 2vw;
  }
}

@media (max-width: 770px) {
  .innerSign {
    font-size: 1.7vw;
  }
}

@media (max-width: 630px) {
  .mainDiv {
    height: 700px;
  }

  .mainInner {
    height: 400px;
  }
  .innerTitle {
    font-size: 10vw;
  }

  .innerGif {
    display: none;
  }
}
@media (max-width: 420px) {
  .innerBtn {
    width: 90%;
  }

  .innerSign {
    font-size: 1.5vw;
    transform: scaleY(1.4);
  }
}

@media (max-width: 400px) {
}
