@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
.mainHeader {
  height: 80px;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 40px #999;
  position: fixed;
  z-index: 9;
}

.headerDiv {
  width: 95%;
  height: 100%;
  /* background-color: orange; */
  margin: auto;
  display: flex;
  flex-direction: row;
}

.leftHeader {
  width: 40%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  font-family: Acme;
  color: #3f0d40;
  text-shadow: 1px 2px 3px #ccc;
}

.leftHeader a,
.leftHeader a:hover {
  text-decoration: none;
  color: #3f0d40;
}

.rightHeader {
  width: 60%;
  height: 100%;
  /* background-color: #ccc; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerLogo {
  height: 70%;
  margin-left: 20px;
}

.rightHeader span {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  height: 35px;
  /* background-color: red; */
  text-shadow: 1px 1px 2px #999;
}

.rightHeader span > a {
  text-decoration: none;
  color: #333;
}

.rightHeader span > a:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  bottom: 10px;
  background: #a744a8;
  visibility: visible;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}

.rightHeader a:hover,
.rightHeader a:focus,
.rightHeader span:hover,
.rightHeader span:focus {
  color: #a744a8;
}

.rightHeader span > a:hover:before,
.rightHeader span > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
