@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
}
.mainHeader {
  height: 80px;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 40px #999;
  position: fixed;
  z-index: 10;
}

.headerDiv {
  width: 95%;
  height: 100%;
  /* background-color: orange; */
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.leftHeader {
  width: 60%;
  height: 80px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  font-family: Acme;
  color: #3f0d40;
  text-shadow: 1px 2px 3px #ccc;
}

.leftSpan {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.leftSpan:hover {
  animation: shake 0.7s;
}

.leftHeader a,
.leftHeader a:hover {
  text-decoration: none;
  color: #3f0d40;
}

.rightHeader {
  width: 40%;
  height: 100%;
  /* background-color: #ccc; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rightHeader-toggle {
  visibility: hidden;
}

.headerLogo {
  height: 70%;
  margin-left: 20px;
}

.rightHeader span {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  height: 35px;
  /* background-color: red; */
  text-shadow: 1px 1px 2px #999;
}

.rightHeader span > a {
  text-decoration: none;
  color: #333;
}

.rightHeader span > a:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  bottom: 10px;
  background: #a744a8;
  visibility: visible;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}

.rightHeader a:hover,
.rightHeader a:focus,
.rightHeader span:hover,
.rightHeader span:focus {
  color: #a744a8;
}

.rightHeader span > a:hover:before,
.rightHeader span > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

@media (max-width: 980px) {
  .rightHeader {
    display: none;
  }

  .leftHeader {
    width: 80%;
  }
  .rightHeader-toggle {
    visibility: visible;
    height: 80px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .mainHeader {
    transition: height 0.2s linear;
  }

  .collapse {
    height: 300px;
    transition: height 0.2s linear;
  }

  .toggleMenu {
    font-size: 30px;
    cursor: pointer;
  }

  .menu-toggle {
    height: 200px;
    width: 100%;
    display: flex;
  }

  .mainList {
    width: 100%;
  }

  .mainList a {
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    /* background-color: red; */
  }

  .mainList a:focus {
    text-decoration: none;
    color: #af54b1;
    cursor: pointer;
    font-weight: bold;
    /* background-color: #af54b1; */
  }

  .listItem:hover,
  .listItem:active {
    background-color: #af54b1;
  }
}

@media (max-width: 335px) {
  .leftHeader {
    font-size: 30px;
  }

  .headerLogo {
    height: 50%;
  }
}

/* Animations ------------------------------- */

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
